/* Base stayles */
.hide {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  color: #010101;

  background-color: #e7e7e7;

  box-sizing: border-box;

  background-image: image-set(
    url('../images/BG-mobil@1x.png') 1x type('image/png'),
    url('../images/BG-mobil@2x.png') 2x type('image/png')
  );
  background-size: 360px;
  background-position: top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  body {
    background-image: image-set(
      url('../images/BG-tablet@1x.png') 1x type('image/png'),
      url('../images/BG-tablet@2x.png') 2x type('image/png')
    );
    background-size: 768px;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-image: image-set(
      url('../images/BG-desktop@1x.png') 1x type('image/png'),
      url('../images/BG-desktop@2x.png') 2x type('image/png')
    );
    background-size: 1440px;
  }
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  text-align: center;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    gap: 32px;
    min-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    gap: 104px;
    min-width: 1440px;
    padding: 0 112px;
  }
}

.header {
  padding-top: 20px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 29px;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 40px;
    margin-bottom: 88px;
  }
}

.logo-block {
  display: block;
  width: max-content;

  transition: transform 0.3s;
}

.logo-block:hover,
.logo-block:focus {
  transform: scale(1.05);
}

.registration-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detiles-container {
  max-width: 360px;
}

@media screen and (min-width: 768px) {
  .detiles-container {
    flex: 1;
    max-width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .detiles-container {
    max-width: 624px;
  }
}

.baner-wrap {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .baner-wrap {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .registration-container {
    flex-shrink: 0;
  }
}

.free,
.start {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.08em;
  text-align: center;
  color: #0f7c41;

  background-color: transparent;
  border: 0.4px solid #0f7c41;
}

@media screen and (min-width: 768px) {
  .free,
  .start {
    padding: 8px 13px;

    font-size: 16px;
    line-height: 1.5;
  }
}

.free {
  width: 198px;
  height: 28px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .free {
    width: 239px;
    height: 36px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .free {
    margin-bottom: 42px;
  }
}

.start {
  width: 188px;
  height: 30px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .start {
    width: 230px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .free,
  .start {
    margin-bottom: 0;
  }
}

.start-accent {
  font-weight: 700;
}

.corner {
  position: absolute;

  width: 2px;
  height: 2px;

  background-color: #0f7c41;
}

/* Top Left */
.top-left {
  top: -2px;
  left: -2px;
}

/* Top Right */
.top-right {
  top: -2px;
  right: -2px;
}

/* Bottom Left */
.bottom-left {
  bottom: -2px;
  left: -2px;
}

/* Bottom Right */
.bottom-right {
  bottom: -2px;
  right: -2px;
}

.title {
  width: 285px;
}

@media screen and (min-width: 768px) {
  .title {
    width: 336px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    width: 610px;
  }
}

.section-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #010101;
}

@media screen and (min-width: 768px) {
  .section-title {
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1440px) {
  .section-title {
    font-size: 56px;
    line-height: 1.21;
    margin-bottom: 40px;
  }
}

.text-wrap {
  width: 300px;
}

@media screen and (min-width: 1440px) {
  .text-wrap {
    width: 547px;
  }
}

.text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #010101;
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 20px;
    line-height: 1.4;
  }
}

.registration-container {
  padding: 32px 20px;
  width: 320px;
  height: 242px;

  background: #fff;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
}

@media screen and (min-width: 768px) {
  .registration-container {
    width: 336px;
    height: 518px;
  }
}

@media screen and (min-width: 1440px) {
  .registration-container {
    width: 488px;
    height: 580px;
    padding: 52px;
  }
}

.timer-title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #010101;
}

@media screen and (min-width: 1440px) {
  .timer-title {
    font-size: 28px;
    line-height: 1.14;
  }
}

.modal .timer-title {
  width: 320px;
  padding-top: 29px;
}

.timer,
.modal-timer {
  display: grid;
  grid-template-columns: repeat(7, auto); /* 4 numbers + 3 colons */
  column-gap: 12px; /* Space between columns */
  row-gap: 2px; /* Space between rows */
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.timer-num,
.timer-num-second {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 28px; /* Fixed width */
  width: 28px;

  font-size: 28px;
  font-weight: 700;
  line-height: 1.14;
}

@media screen and (min-width: 1440px) {
  .timer-num,
  .timer-num-second {
    font-size: 32px;
    line-height: 1.12;
  }
}

.timer-num {
  color: #010101;
}

.timer-num-second {
  color: #0f7c41;
}

.timer-el-name {
  font-size: 8px;
  font-weight: 600;
}

.colon {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: rgba(1, 1, 1, 0.2);
}

.registration-form {
  display: none;
}

/* ============================  Modal ================================ */

.backdrop {
  position: fixed;
  z-index: 900;

  width: 100vw;
  height: 100vh;

  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 360px;
  min-height: 680px;
  padding: 0 20px;

  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 0;
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  width: 18px;
  height: 18px;

  fill: #010101;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.registration-form-modal .form-label,
.registration-form .form-label {
  display: flex;
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.input-field {
  position: relative;
}

.form-input {
  width: 320px;
  height: 48px;
  padding: 12px 16px;

  font-size: 20px;
  outline: transparent;

  background-color: #f2f4fa;
  border: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .form-input {
    width: 296px;
  }
}

@media screen and (min-width: 1440px) {
  .form-input {
    width: 384px;
  }
}

#user-tel,
#user-tel-modal {
  padding-left: 48px; /* Indentation for text so it doesn't overlap with the icon */
}

.form-input:focus {
  border-color: #247f4e;
}

.form-input:focus + .form-icon {
  fill: #247f4e;
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;

  fill: currentColor;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #767b8e;
}

/* Checkbox */
.agreement {
  position: relative;

  display: block;
  align-items: center;
  margin: 20px 0 32px 0;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}

.form-checkbox {
  margin-right: 8px;
}

/* Checkbox wrapper */
.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;

  border: 1px solid #0f7c41;
  border-radius: 2px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* The checkbox is hidden by default */
.form-check {
  display: none;
  width: 100%;
  height: 100%;
}

/* If the checkbox is selected, show the check mark */
.form-checkbox:checked + .form-label .checkbox-icon {
  background-color: #f4f4fd;
}

.form-checkbox:checked + .form-label .checkbox-icon .form-check {
  display: block;
  fill: #0f7c41;
}

/* Link color */
.checkbox-link {
  color: #3577f7;
}

.checkbox-link:hover,
.checkbox-link:focus {
  color: #2457b2;
}

.registration-button,
.registration-button-modal,
.registration-button-mobil {
  display: block;
  width: 280px;
  height: 56px;
  margin: auto;
  padding: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  background-color: #0f7c41;
  border: none;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .registration-button {
    width: 296px;
    height: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .registration-button {
    width: 384px;
    height: 64px;
  }
}

.registration-button:hover,
.registration-button-mobil:hover,
.registration-button:focus .registration-button-mob:focus {
  background-color: #247f4e;
  border: 0;
}

@media screen and (max-width: 767px) {
  .registration-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .registration-form {
    display: block;
  }
  .registration-button-mobil {
    display: none;
  }
}

/* Errors and notification */
.error {
  border: 1px solid red;
}

.notification {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 10px;
  right: 10px;

  padding: 10px 20px;

  font-size: 20px;

  color: white;

  background: green;
  border-radius: 5px;

  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.notification.show {
  opacity: 1;
  visibility: visible;
}
